/* CSS Document */
@charset "utf-8";

.button-btn{
	color:#444;
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	zoom:1;
	height:24px;
	padding-right:18px;
	cursor:pointer;
	outline:none;
	*+margin:0 3px;
	background:url('../images/toolbar/button_span_bg_right.gif') no-repeat top right;
}
a.button-btn-plain{
	background:transparent;
	padding-right:5px;
}
a.button-btn span.button-btn-left{
	display:inline-block;
	background:url('../images/toolbar/button_span_bg.gif') no-repeat top left;
	padding:4px 0px 4px 18px;
	line-height:16px;
	height:16px;
}
a.button-btn-plain span.button-btn-left{
	background:none;
	padding-left:5px;
}

a.button-btn span span.button-btn-text{
	/*display:inline-block;
	height:16px;*/
	line-height:16px;
	padding:1px 2px;
	white-space:nowrap;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
.button-btn-text:hover{
	opacity: 0.7;/*w3c标准透明度*/
	filter: alpha(opacity=70);/*IE透明度写法*/
}
a.button-btn span span span.button-btn-empty{
	display:inline-block;
	padding:0px;
	width:16px;
}
a:hover.button-btn{
	background-position: bottom right;
	outline:none;
}
a:hover.button-btn span.button-btn-left{
	background-position: bottom left;
	outline:none;
}

a:hover.button-btn-plain{
	background-position: bottom right;
	outline:none;
	-moz-border-radius:4px;/*火狐浏览器下圆角*/
	-webkit-border-radius: 4px;/*标准浏览器下圆角*/
	-o-border-radius:4px;/*IE浏览器下圆角*/
	border-radius: 4px;/*w3c标准写法*/
}
a:hover.button-btn-plain span.button-btn-left{
	background-position: bottom left;
	outline:none;
	padding-left:5px;
}
a.button-btn .button-btn-focus{
	outline:#0000FF dotted thin;
}
.button-btn-arrow {
	display: inline-block;
	width: 12px;
	line-height: 14px;
	background: url('../images/toolbar/grid.png') no-repeat 4px center;
}
.button-separator {
	width:0;
	height: 23px;
	margin:0px 3px -3px;
	*+margin:0px 1px 3px;
	overflow:hidden;
	font-size:1px;
	cursor:default;
	display: inline-block;
}
a.button-btn-disabled {
	color: #ccc;
	opacity: 0.5;/*w3c标准透明度*/
	filter: alpha(opacity=50);/*IE透明度写法*/
	cursor: default;
}
a:hover.button-btn-disabled{
	background-position: top right;
}
a:hover.button-btn-disabled span.button-btn-left{
	background-position: top left;
}