/* CSS Document */
@charset "utf-8";
.menuitem-wrap{
	float:left;
}
.menuitem-small{
	-webkit-border-radius:4px;/*谷歌下圆角*/
	-moz-border-radius:4px;/*火狐下圆角*/
	-o-border-radius:4px;/*IE下圆角*/
	border-radius:4px;  /*标准圆角*/
	padding:1px 8px; 
	cursor:pointer; 
	font-size:11px;
	border-style:solid;
	border-width:1px;
	border-color:#D8E4F2;
	vertical-align:middle;
	float:left;
}
.menuitem-small-bg{
	background-image:url(../images/button/btn-default-small-bg.gif) !important;
}
.menuitem-small-hover{
	background-image:url(../images/button/button_plain_hover.png) !important; 
	border:1px solid #99BBE8;
}
.menuitem-small-pressed{
	background-image:url(../images/button/btn-default-small-pressed-bg.gif) !important;
	padding-top:5px;
	border-color:#99BBE8;
}
.menuitem-icon-default{
	display:block; 
	float:left; 
	width:16px; 
	height:16px; 
}
.menuitem-text{
	display:block; 
	padding-top:1px;
	padding-bottom:1px;
	float:left;
	white-space:nowrap;
}
.menuitem-submenu{
	background-image:url(../images/grid/grid.gif)no-repeat 0px 0px !important; 
	width:10px; 
	height:10px; 
	display:block; 
	float:left; 
	margin-top:2px; 		
	margin-left:4px;
	_margin-left:2px;
}
