/* CSS Document */
@charset "utf-8";

.toolbar {
	padding: 4px 5px 4px 5px;
	white-space: nowrap;
	overflow: hidden;
	background:#f7f7f7;
}

.toolbar-bg {
	border-top: 1px solid #f0f5fa;
	border-bottom: 1px solid #99BCE8;
	background:#d2e0f1;
	zoom: 1;
}

.toolbar a:hover {
	text-decoration: none;
}