/*datefield style*/
.datefield-container {
	font-size: 12px;
}

.datefield-container .datefield-label {
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	vertical-align: top;
	margin-top: 5px;
}

.datefield-label .datefield-required {
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
	margin-top: 1px;
	color: red;
}

.datefield-container .datefield {
	border: 1px solid #c90001;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	background: #fff;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.datefield .datefield-text {
	font-size: 12px;
	border: 0px;
	line-height: 20px;
	height: 20px;
	padding: 0px;
	*height: 18px;
	*line-height: 18px;
	_height: 18px;
	_line-height: 18px;
	padding-right: 2px;
}

.datefield .datefield-arrow {
	background: url(../images/form/date.png) no-repeat;
	width: 18px;
	height: 21px;
	overflow: hidden;
	margin-top: -1px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	border-left: 1px solid #c90001;
}

.datefield-container .datefield-text-foucs {
	border-color: #c90001;
}

.datefield .datefield-arrow:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.datefield-container .datefield-arrow-active {
	border-left-color: #c90001;
}

/*datepicker style*/
.datepicker-container {
	position: absolute;
	border: 1px solid #c90001;
	background: #e83737;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 2px;
	color: #FFFFFF;
	border-radius: 3px;
	clear: both;
	z-index: 99999;
	width: 186px;
}

.datepicker-header {
	width: 100%;
	height: 20px;
	padding-top: 2px;
	position: relative;
}

.datepicker-body table {
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
	background: white;
}

.datepicker-body thead th {
	background:#ffce8f;/*url(../images/form/hrow.gif) repeat-x*/
	height: 20px;
	font-size: 11px;
	color: #6d2323;
}

.datepicker-body tbody td {
	text-align: center;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	font-size: 11px;
	color: black; +
	padding-left: 4px;
	_padding-left: 2px;
}

.datepicker-body tbody td span { 
	+display: inline-block; 
	+margin-left: 8px;
}

.datepicker-body tbody td:hover {
	background: #FC0;
	color: #FFFFFF;
	cursor: pointer;
}

.datepicker-body tbody td.hover {
	background: #FC0;
	color: #FFFFFF;
	cursor: pointer;
}

.datepicker-body tbody td.special {
	color: #B7AAB7;
	background: white !important;
}

.datepicker-body tbody td.selected {
	border: 1px solid #8b0000 !important;
}

.datepicker-body tbody td.special:hover {
	cursor: default;
}

.datepicker-body tbody td.buttons {
	width: 100%;
	overflow: hidden;
}

.datepicker-body tbody td.buttons:hover {
	background: #FFFFFF;
	cursor: default;
}

.datepicker-body .datepicker-buttons {
	text-align: center;
	vertical-align: middle;
	background-color: #e83737;
	width: 186px;
	font-size: 12px;
	cursor: default;
}

.datepicker-buttons .separator {
	width: 0;
	height: 10px;
	border-left: 1px solid #c90001;
	border-right: 1px solid white;
	margin: 3px 3px 0px;
	overflow: hidden;
	font-size: 1px;
	cursor: default;
	display: inline-block;
}

.datepicker-buttons a {
	color: #fff;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

.datepicker-buttons a {
	display: inline-block;
	margin-top: -4px;
}

.datepicker-buttons a span {
	display: inline-block;
	padding-bottom: 1px;
}

.datepicker-buttons a:hover {
	text-decoration: underline;
}

.datepicker-buttons a.today-btn {
	margin: 3px 0;
}

.datepicker-body .today {
	border: 1px dotted red;
}

.datepicker-body .datepicker-footer {
	background:#ffce8f;/* url(../images/form/hrow.gif) repeat-x*/
	padding: 0px;
	color: black;
	cursor: default;
	width: 186px;
	height: 20px;
	position: relative;
	padding-top: 2px;
}

.datepicker-header a {
	position: absolute;
	top: 3px;
	width: 16px;
	height: 16px;
	outline: none;
}

.datepicker-header a.prev {
	background: url(../images/form/prev.gif) center no-repeat transparent;
	left: 3px;
}

.datepicker-header a.next {
	background: url(../images/form/next.gif) center no-repeat transparent;
	right: 3px;
}

.datepicker-header .yminput {
	position: absolute;
	border: 1px solid #c90001;
	vertical-align: middle;
	top: 3px;
	width: 50px;
	height: 14px;
}

.datepicker-header .ymtrigger {
	position: absolute;
	top: 3px;
	background: #fff url(../images/form/grid-cbb.gif) no-repeat;
	width: 13px;
	height: 14px;
	margin: 0;
	padding: 0;
	border: 1px solid #c90001;
}

.datepicker-select-input-year {
	left: 22px;
}

.datepicker-select-button-year {
	left: 69px;
	border-left: 0;
}

.datepicker-select-input-month {
	right: 33px;
}

.datepicker-select-button-month {
	right: 23px;
	border-left: 0;
}

.datepicker-footer .mdsinput {
	border: 1px solid #c90001;
	vertical-align: middle;
	position: absolute;
	width: 38px;
	height: 14px;
	top: 3px; 
	*+top: 4px;
}

.datepicker-footer .mdstrigger {
	background: #fff url(../images/form/grid-cbb.gif) no-repeat;
	border-left: 1px solid #c90001;
	position: absolute;
	width: 13px;
	height: 14px;
	_height: 10px;
	margin: 0;
	top: 4px; 
	*+top: 5px;
}

.datepicker-select-input-hour {
	left: 8px;
}

.datepicker-select-button-hour {
	left: 33px;
}

.datepicker-select-input-minutes {
	left: 68px;
}

.datepicker-select-button-minutes {
	left: 93px;
}

.datepicker-select-input-seconds {
	right: 20px;
}

.datepicker-select-button-seconds {
	right: 21px;
}

.datepicker-footer .hms {
	font-size: 12px;
	position: absolute;
	top: 4px; 
	*+top: 6px;
}

.datepicker-footer .h {
	left: 50px;
}

.datepicker-footer .m {
	left: 110px;
}

.datepicker-footer .s {
	right: 7px;
}

.datepicker-common {
	position: absolute;
	border: 1px solid #7EADD9;
	border-top-style: none;
	background: #FFFFFF;
	color: #000000;
	overflow: auto;
	font-size: 11px;
	z-index: 9999;
	display: none;
}

.datepicker-header ul,.datepicker-footer ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.datepicker-header ul li,.datepicker-footer ul li {
	border: 1px solid #FFFFFF;
	padding-left: 5px;
	border-radius: 4px;
}

.datepicker-header ul li:hover,.datepicker-footer ul li:hover {
	background: #EFEFEF;
	cursor: pointer;
}

.item-hover {
	background: #EFEFEF;
	cursor: pointer;
}

.item-selected {
	background: #D7D6D6;
}

.datepicker-year {
	top: 19px;
	left: 22px;
	width: 60px;
	height: 80px;
}

.datepicker-month {
	top: 19px;
	left: 101px;
	width: 60px;
	height: 80px;
}

.datepicker-hour {
	top: 19px; +
	top: 20px;
	left: 8px;
	width: 38px;
	height: 80px;
}

.datepicker-minutes {
	top: 19px;
	+top: 20px; /*IE7*/
	left: 68px;
	width: 38px;
	height: 80px;
}

.datepicker-seconds {
	top: 19px; 
	+top: 20px;
	right: 20px;
	width: 38px;
	height: 80px;
}