/*文本框提示信息样式*/
.tooltips{
	position:absolute; 
	top:-9999px; 
	left:-9999px; 
	width:auto; 
	height:auto;
	background:url(../images/textfield/input_text_bg.png) repeat-x;
	border:1px solid #999999;
	border-radius:5px;
	z-index:10001;
}
.tooltips span{
	display:inline-block;
}
.tooltips span.error-title{
	background:url(../images/textfield/exclamation.gif) no-repeat;
	width:16px;
	height:15px;
	font-size:10px;
	margin-right:2px;
}
.tooltips span.error-content{
	font-size:13px;
	padding-right:2px;
	margin-top:4px;
}