#if(${message})
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
    </button>
    <strong>操作信息:</strong>
    ${message}
</div>
#end